<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Startups and VCs</title>
</head>
<body>
    <h1><a href="/companies/" style="text-decoration:none;">Startups and VCs</a></h1>
    <hr />

    <h2><b><a href="{{ p.company_homepage_url }}">{{ p.company_name }}</a></b></h2>
    <!-- profiles -->
    <h2>Profile</h2>
    <table border="3">
        <tr>
            <td>Category</td>
            <td><b>{{p.company_category_code}}</b></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><b>{{p.company_city}}, {{p.company_state_code}}, {{p.company_country_code}}</b></td>
        </tr>
        <tr>
            <td>Founded</td>
            <td><b>{{p.founded_month}}, {{p.founded_year}}</b></td>
        </tr>
        <tr>
            <td>Funding Period</td>
            <td><b>{{p.first_funding_at}}</b> to <b>{{p.last_funding_at}}</b></td>
        </tr>
    </table>

    <!-- investments -->
    <h2>Investments</h2>
    {% for item in i %}
    <table border="3">
        <tr>
            <td>Investor Name</td>
            <td><b>{{item.investor_name}}</b></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><b>{{item.investor_city}}, {{item.investor_state_code}}, {{item.investor_country_code}}</b></td>
        </tr>
        <tr>
            <td>Funding Round Type</td>
            <td><b>{{item.funding_round_type}}</b></td>
        </tr>
        <tr>
            <td>Amount (USD)</td>
            <td><b>{{item.raised_amount_usd}}</b></td>
        </tr>
    </table>
    <br />
    {% endfor %}

    <!-- Rounds -->
    <h2>Rounds</h2>
    {% for item in r %}
    <table border="3">
        <tr>
            <td>Round Type</td>
            <td><b>{{item.funding_round_type}}</b></td>
        </tr>
        <tr>
            <td>Funded Date</td>
            <td><b>{{item.funded_at}}</b></td>
        </tr>
        <tr>
            <td>Amount (USD)</td>
            <td><b>{{item.raised_amount_usd}}</b></td>
        </tr>
    </table>
    <br />
    {% endfor %}
</body>
</html>
