{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-list-alt"></span> Lists</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li>
          </ul>
          <form post=role="form" class="navbar-form navbar-right">
            <input type="text" name="company" class="form-control" placeholder="Search...">
            <a href="test" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</a>
            <!-- <input type="submit" class="btn btn-info" value=" Search"> -->
            <!-- action='test/' method='get'  -->
          </form> 
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Jumbotron
      ================================================== -->    
      <div class="jumbotron" style="margin-top:6em">
        <div class="row">
          <div class="col-md-2"> <!-- Company logo here -->
            <img class="img-responsive" src="{% static "img/company_img_1.png" %}" alt="Company logo">
          </div>
          <div class="col-md-6">
            <h1>99 Designs</h1> <!-- Tao: Company name here -->
            <p>Internet Publishing and Broadcasting and Web Search Portals</p> <!-- Tao: Short_description here -->
          </div>
          <div class="col-md-4">
            <div class="row">
              <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Follow</a>
              <a href="#" class="btn btn-default"> Claim</a>
              <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> Share</a>
              <a href="#" class="btn btn-default"> &lt; / &gt;</a>            
            </div>
            <div class="row" id="completion">              
              <div class="col-md-3 col-md-push-4"><a href="#">87.0%</a></div> <!-- Completion here -->              
            </div>
            <div class="row">
              <div class="col-md-7 col-md-push-5"><p id="completionLabel">Profile completion</p></div> <!-- Completion here -->
            </div>
            
          </div>
        </div>
      </div>

      <!-- Main content
      ================================================== -->  
      <div class="row">
        <article class="col-md-8">
          <h2>Company information</h2>
          <h3>Summary</h3>
          <!-- Tao: Summary here -->   
          <p>"99designs is the world’s largest online graphic design marketplace, connecting startups, small businesses, marketing agencies and other organizations with design needs with more than 250,000 graphic designers from 192 countries around the world. Since its 2008 founding in Melbourne, Australia, 99designs has hosted more than 250,000 design contests for customers and has paid out in excess of  $62 million to its design community.</p>
          <p>99designs enables customers to source graphic design work quickly and affordably by launching design contests to its community, working 1-on-1 with individual designers, or purchasing design templates from 99designs’ readymade logo store. 99designs also operates Swiftly.com, a service launched in 2013 that provides customers with quick graphic design fixes for a flat $15 fee.</p>
          <p>The company opened its San Francisco office in 2010, established European headquarters in Berlin in 2012, and subsequently opened offices in Paris, London and Rio de Janeiro. In addition to English, 99designs operates localized versions of its site in German, French, Italian, Spanish, Dutch and Portuguese."</p>
          </p>
          <h3>Others</h3>
          <p>You can find other useful information in the following table</p>
          <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th colspan="2" style="text-align:center">Industry Information</th>          
                  <th colspan="2" style="text-align:center">Geography Information</th>   
                </tr>
                <tr>
                  <th>Name</th>          
                  <th>Value</th>
                  <th>Name</th>          
                  <th>Value</th>                      
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CID</td> <!-- Tao: cid here -->  
                  <td>7</td>
                  <td>Alias</td> <!-- Tao: Alias here -->  
                  <td>Brigham &amp; Rago</td>
                </tr>
                <tr>
                  <td>Status</td> <!-- Tao: Status here -->  
                  <td>Privately Held</td>
                  <td>Branch</td> <!-- Tao: Branch here -->  
                  <td>Headquarters Office</td>
                </tr>
                <tr>
                  <td>Industry</td> <!-- Tao: Industry here -->  
                  <td>Advertising Service</td>
                  <td>Country</td> <!-- Tao: Country here -->
                  <td>CA</td>
                </tr>
                <tr>
                  <td>Founded On</td> <!-- Tao: Founded_on here -->
                  <td>Feb-10</td>
                  <td>State</td> <!-- Tao: State here -->
                  <td>Sterling</td>
                </tr>
                <tr>
                  <td>People</td> <!-- Tao: People here -->
                  <td>25 - 50</td>
                  <td>City</td> <!-- Tao: City here -->
                  <td>Portland</td>
                </tr>
                <tr>
                  <td>Yearly Revenue</td> <!-- Tao: Yearly Revenue here -->
                  <td>1M to 2.5M</td>
                  <td>Postal Code</td> <!-- Tao: Postal Code here -->
                  <td>L6V 1Y2</td>
                </tr>
                <tr>
                  <td>Location</td>  <!-- Tao: Location here -->
                  <td>Sterling, VA</td>
                  <td>Address Line</td>  <!-- Tao: Address Line -->
                  <td>55 North 3rd Street</td>
                </tr>
              </tbody>
            </table>
          </div>          
        </article>
      
        <aside class="col-md-offset-1 col-md-3">
          <div class="panel panel-info"><!-- Panel Links -->
            <div class="panel-heading">
              <h3 class="panel-title">Links</h3>
            </div>
            <div class="list-group">
              <!-- Tao: Company Website here -->
              <a href="http://99designs.com/?gclid=CMff79bbwagCFQkLbAodIjSfpg" class="list-group-item">Company Website</a>
              <!-- Tao: Company Blog here -->
              <a href="http://blog.99designs.com/" class="list-group-item">Company Blog</a>
            </div>
          </div><!-- end panel links -->

          <div class="panel panel-info"><!-- Panel Contact Infor -->
            <div class="panel-heading">
              <h3 class="panel-title">Contact Information</h3>
            </div>
            <div class="list-group">
              <!-- Tao: contact_info_email here -->
              <p class="list-group-item"><span class="glyphicon glyphicon-envelope"></span> Email: info@a1soundproof.com</p>
              <!-- Tao: contact_info_tel here -->
              <p class="list-group-item"><span class="glyphicon glyphicon-phone-alt"></span> Telephone: 1-888-747-9891</p>
            </div>
          </div><!-- end panel links -->
        </aside>
      </div> <!-- end of main content -->

      <hr class="featurette-divider">
      <!-- Footer
      ================================================== --> 
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div><!-- end of container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/main.js"></script>
  </body>
</html>
